{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="info">
    <h3>Корзина</h3>
    {% if not cart %}
    <p>Корзина пуста</p>
    {% else %}
    <table class="cart-contents">
        <thead>
            <tr>
                <th>Фото</th>
                <th>Товар</th>
                <th>Кол-во</th>
                <th>Обновить кол-во</th>
                <th>Удалить</th>
                <th>Цена за шт</th>
                <th>Общая стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr class="parameters">
                <td class="image">
                    <a href="{{ product.get_absolute_url }}" class="product-link">
                        <img src="{{product.image.url}}" width="200">
                    </a>
                </td>
                <td class="product-name">{{ product.name }}</td>
                <td class="quantity">
                    {{ item.quantity }}
                </td>
                <td class="update-quantity">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <button type="submit">Обновить</button>
                        {% csrf_token %}
                    </form>
                </td>
                <td class="remove-num"><a href="{% url 'cart:cart_remove' product.id %}" class="remove-link">Удалить</a>
                </td>
                <td class="num">{{ item.price }} руб.</td>
                <td class="num">{{ item.total_price }} руб.</td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <div class="total-price">
        <p><b>Всего: {{ cart.get_total_price }} руб.</b></p>
    </div>
    <div class="cart-button">
        <button onclick="location.href = '/orders/create'">Оформить заказ</button>
    </div>
    {% endif %}
</div>
{% endblock %}