{% extends 'app/base.html' %}

{% block content %}

{% if products %}
<div class="product-list">

  {% for p in products %}
  <article>
    <h3>
      <p><a href="{{ p.get_absolute_url }}" class="product-link">{{p.name}}</a></p>
    </h3>
    {% if p.image %}
    <p><a href="{{ p.get_absolute_url }}"><img src="{{p.image.url}}" width="400"></a></p>
    {% endif %}
    <p><a href="{{ p.get_absolute_url }}" class="product-link">{{p.description}}</a></p>
    <p><a href="{{ p.get_absolute_url }}" class="product-link">{{p.price}} руб.</a></p>
  </article>
  {% endfor %}
</div>
{% else %}
<div class="info">
  <h3>Товары не найдены</h3>
</div>
{% endif %}
{% endblock %}