{% extends 'app/base.html' %}

{% block content %}

<form action="{% url 'search' %}" method="get" class="search-form">
  <input name="q" type="text" placeholder="Искать по товарам">
</form>

<div class="search-results">
  <ul>
    {% for p in products %}
    <li>
      <h2>
        <p><a href="{{ p.get_absolute_url }}" style="text-decoration: none; color:black; ">{{p.name}}</a></p>
      </h2>
      {% if p.image %}
      <p><a href="{{ p.get_absolute_url }}"><img src="{{p.image.url}}" width="400" border="0"></a></p>
      {% endif %}
      <p><a href="{{ p.get_absolute_url }}" style="text-decoration: none; color:black; ">{{p.description}}</a></p>
      <p><a href="{{ p.get_absolute_url }}" style="text-decoration: none; color:black; ">{{p.price}} руб.</a></p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}