{% extends 'app/base.html' %}
{% block content %}
<div class="products-list">
    <p>{{product.name}}</p>
    <p><img src="{{product.image.url}}" width="400" border="0"></p>
    <p>{{product.description}}</p>
    <p>{{product.price}} руб.</p>
    {% if product.available %}
    <p>Есть в наличии</p>
    {% else %}
    <p>Нет в наличии</p>
    {% endif %}
</div>
<form action="{% url 'cart:cart_add' product.id %}" method="post" class="cart-add">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="В корзину">
</form>
{% endblock %}