{% extends 'app/base.html' %}
{% block content %}
<div class="info">
    <h3>{{product.name}}</h3>
    <p><img src="{{product.image.url}}" width="400"></p>
    <p>{{product.description}}</p>
    <p>{{product.price}} руб.</p>
    {% if product.available %}
    <p>Есть в наличии</p>
    {% else %}
    <p>Нет в наличии</p>
    {% endif %}

    <form action="{% url 'cart:cart_add' product.id %}" method="post" class="cart-add">
        {% csrf_token %}
        {{ cart_product_form }}
        <p><button type="submit">В корзину</button></p>
    </form>
</div>
{% endblock %}