{% extends 'app/base.html' %}

{% block content %}
<div class="info">
    {% if request.user.is_authenticated %}
    <p>Вы уже авторизованы</p>
    {% else %}
    <form method="post" class="registration">
        {% csrf_token %}
        {% for input in form %}
        <p>{{ input.label_tag }}</p>
        <p>{{ input }}</p>
        {% endfor %}
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="login">
        <p>Уже зарегистрированы?</p>
        <button onclick="location.href = '/login'">Войти</button>
    </div>
    {% endif %}
</div>
{% endblock %}